.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--turquoise2);
  border-radius: 0.8rem;
  grid-column: 1/-1;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
}

.header__account {
  width: 19rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
}

.header__bold {
  font-weight: 700;
}
