.search {
  display: flex;
  margin-top: 1.6rem;
  flex-direction: column;
  grid-column: 1/-1;
  margin-bottom: 2.4rem;
}

.search__label {
  font-size: 2.4rem;
  font-weight: 600;
}

.search__input {
  height: 6.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  border-radius: 0.8rem;
  border: 2px solid var(--dark);
  background-color: var(--clear);
}

.search__input:focus {
  outline: 1px solid white;
}

.search__input::placeholder {
  color: var(--dark);
}
